.bg {
    /*background: url('http://subtlepatterns.com/patterns/random_grey_variations.png');*/
    background: url('/img/grey.png');
}

.navbar-fixed-top {
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    height: auto;
}

.container {
    position: absolute;
    display: block;
    margin: auto;
    width: 98%;
    height: 97%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-inner .container {
    position: absolute;
    display: block;
    margin: auto;
    width: 98%;
    height: 97%;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding-left: 10px;
}

/*.dragdrop {*/
    /*line-height: 52px;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*color: #666;*/
    /*font-size: 18px;*/
/*}*/

.dragdrop {
    width: 81%;
    height: 76%;
    border: 1px dashed #999;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 0.75;
    position: absolute;
    display: block;
    top: 7%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.textDrag {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
}

